@charset "utf-8";
*{margin:0;padding:0;}
/* CSS Document */
.wrap{
	width:1280px;
	height:140px;
	margin:0 auto;
}

.logo{

	float:left;		 
}
.logo img{
	width:100%;	
	padding:20px 0px;

}
.nav{
	float:right;
	line-height: 100px;
}
.nav li
{
	float:left;
	list-style:none;
	padding:10px 30px;
	font-family:"Microsoft YaHei";
}
.nav li a{
	text-decoration:none;
	color:#000;
}
.nav li a:hover{
	color:#f73435;
}
.tony{
	width:1920px;
	height:800px;
	
}
.tt{
	width:400px;
	height:372px;
	margin:0 auto;
	padding-top:230px;
	text-align:center;
}
.tt p{
	font-family:"Microsoft YaHei";font-weight:lighter;
	font-size:28px;
    color:#858585;
	padding:20px 70px;
}

.one{
	width:1280px;
    height:950px;
	margin:0 auto;
	}

.sheji img{
	width:707px;
	height:758px;
	padding-top:100px;
	position:absolute;
	left:450px;
   
}
.jieshao dt{
	font-family:"Microsoft YaHei";font-weight:lighter;
	font-size:30px;
    color:#858585;
	line-height:1.8em;
	position:absolute;
	left:1000px;
	padding-top:300px;
	
}
.two{
	width:1920px;
	height:950px;
	top:0;left:0;
}
.beijing img{
	width:1920px;
	height:100%;
	position:absolute;	
	
}
.jingli dt{
	font-family:"Microsoft YaHei";font-weight:lighter;
	font-size:30px;
    color:#858585;
	line-height:1.8em;
	position:absolute;
	left:800px;
	padding-top:170px
}

.three{
	width:1280px;
    height:950px;   
	margin:0 auto;
	padding-top:130px;	
	
}
.three li{
	float:left;
	list-style:none;
	margin-right:25px;
	
}

.item{
	width:400px;
	padding-top:480px;
	margin:0 auto;
	
}
.item h2{
	text-align:center;
	font-family:"Microsoft YaHei";font-weight:lighter;
	font-size:45px;
    color:#999999;
}
.item .more{
	text-align:center;
	margin-top:20px;}
.item .more a{
	display:inline-block;
	padding:0 40px;
	line-height:40px;
	border:1px solid #bbbbbb;
	border-radius:20px;
	text-decoration:none;
	font-family:"Microsoft YaHei";font-weight:lighter;
	color:#777777;
}
.bottom{
	width:1920px;
	height:950px;
	background-color:#f4f4f4;
	margin:0 auto;
	text-align:center;
}
.lianxi{
	padding-top:50px;
}
.lianxi h1{
	text-align:center;
	padding-top:130px;
	font-family:"Microsoft YaHei";font-weight:lighter;
	font-size:70px;
    color:#949494;
	
}
.lianxi p{
	text-align:center;
	padding-top:4px;
	font-family:"Microsoft YaHei";font-weight:lighter;
	font-size:22px;
    color:#999999;
	
}
.lianxi li{
	text-align:center;
	padding-top:60px;
 
	
	
}
.Icon{
	text-align:center;
	width:740px;
	height:95px;
	margin:0 auto;
	padding-top:80px;
}
.Icon li{
	float:left;
	list-style:none;
	margin-right:50px;
	width:135px;
	height:95px;
	text-align:center;
	line-height:2em;
	font-family:"Microsoft YaHei";font-weight:lighter;
	font-size:15px;
	color:#646464;
	
}













.tt-character{
	width:1920px;
	height:800px;
	margin:0 auto;
	text-align:center;
	border-bottom:1px solid #EBEBEB;
	 position:relative;
}
.tt-character img{
	width:800px;
	height:800px;
	position:absolute;
	bottom:0; 
	left: 43%;
	margin-left:-250px; 
}

.My-introduction{
	width:1920px;
	height:550px;
	background-color:#F7F7F7;
	margin:0 auto;
	border-bottom:1px solid #EBEBEB;
}

.My{
	width:1280px;
	height:550px;
    margin:0 auto;
    

	
}
.My h1{
	text-align:left;
	padding: 115px 0 25px;
	font-family:"Microsoft YaHei";font-weight:lighter;
	font-size:20px;
    color:#000000;
	
}
.My p{
	font-family:"Microsoft YaHei";font-weight:lighter;
	font-size:16px;
    color:#858585;
	line-height:2.2em;
}

.My-Skill{
	width:1920px;
	height:550px;
	margin:0 auto;
	border-bottom:1px solid #EBEBEB;
}

.Skill{
	width:1280px;
	height:550px;
    margin:0 auto;
    

	
}
.Skill h1{
	text-align:left;
	padding: 115px 0 25px;
	font-family:"Microsoft YaHei";font-weight:lighter;
	font-size:20px;
    color:#000000;
	
}
.Skill p{
	font-family:"Microsoft YaHei";font-weight:lighter;
	font-size:16px;
    color:#858585;
	line-height:2.2em;
}



















.List_courseId{
	width:1920px;
	height:70px;
	margin:0 auto;
	background:#222222;
	position:fixed; 
	
	
}
.page-container{
	width:1280px;
	height:70px;
	margin:0 auto;
	
}

.workslogo{
	width:39px;
	float:left;		
	padding-right: 50px;
}
.workslogo img{
	width:100%;	
		padding:16px 0px;

}
.classification{
	float:left;
	line-height: 70px;
	
}
.classification li{
	
	float:left;
	list-style:none;
	padding:1px 30px;
	font-family:"Microsoft YaHei";font-weight:lighter;
}
.classification li a{
	text-decoration:none;
	color:#fff;
}
.classification li a:hover{
	color:#f73435;
}
.navtop{
	float:right;
	line-height: 70px;
}
.navtop li
{
	float:left;
	list-style:none;
	padding:1px 30px;
	font-family:"Microsoft YaHei";font-weight:lighter;
}
.navtop li a{
	text-decoration:none;
	color:#FFFFFF;
}
.navtop li a:hover{
	color:#f73435;
}
.yanshikuang{
	width: 1281px;
	text-align:center;
	margin:0 auto;
	padding-top: 30px;
	
}
.tupianyangchi li{
	float:left;
	list-style:none;
}



















.Design{
	width:1280px;
    height:780px;
	margin:0 auto;
	}
.lianxikuang{
	width:1280px;
	height:482px;
	margin:0 auto;
	border:1px #d9d9d9 solid;
}
.hewolianxi h1{
	padding-top:80px;
	text-align:center;
	font-family:"Microsoft YaHei";font-weight:lighter;
	font-size:30px;
	color:#646464;
}
.lianxiwotubiao{
	width:1016px;
	height:200px;
	ext-align:center;
	margin:0 auto;
	padding-top:70px;
	
}
.lianxiwotubiao li{
	float:left;
	list-style:none;
	margin:0px 54px 0px 50px;
	width:150px;
	height:205px;
	text-align:center;
	line-height:2.3em;
	font-family:"Microsoft YaHei";font-weight:lighter;
	font-size:15px;
	color:#646464;
	
}
.form{  
    width:1280px; 
    height:500px;
	margin:0 auto;
    padding-top:95px; 
	font-family:"Microsoft YaHei";font-weight:lighter;
    
  
} 

.inputs{  
    text-align:center;
  
}  
.inputs input{  
   width:398px;
   height:41px;
   padding: 0px 10px;
   color:#AAAAAA;
   border:1px #d9d9d9 solid;

} 
 

.content{  
    padding-top:25px;
    text-align:center;
      
} 
.content textarea {  
    vertical-align: top;  
    width: 840px; 
    height:200px;
    color:#AAAAAA;
	line-height:1.8em;
	padding: 0px 10px;
    border:1px #d9d9d9 solid;
    padding-top:10px;
} 
.content form input[type="submit"] {
    width: 207px;
    height: 50px;
	border-radius:40px;
    color: #fff;
    border: 1px solid #f73435;
    background-color: #f73435;
	cursor: pointer;
	font:15px Helvetica, Arial, sans-serif;
    margin: 40px 0 35px 15px;
	position: relative;
}